<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <title>Tw333t</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="static/favicon.png">

  </head>
  <body>
    <div class="container">
      {% include 'nav_bar.html' %}
      <!--
        Build a Vue component that gets 3 latest tweets with a user inputted Twitter handle through the "Get tweets" -route.
      -->
      <div id="vue-tweets-app">
        <get-tweets></get-tweets>
      </div>

    </div>
    <script src="/static/index.js"></script>
  </body>
</html>
